body,
html {
    font-family: Arial, Tahoma, sans-serif;
    text-align: center;
}

.logo {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    padding-top: 5px;
}

#divzapzap {
    width: 100%;
    background-color: #39890f;
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    float: left;
    text-align: center;
}


#divtel {
    width: 100%;
    background-color: rgb(83, 95, 100);
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    float: left;
    text-align: center;

}

#divcompartilhar {
    width: 100%;
    background-color: #5d8faf;
    line-height: 60px;
    font-size: 14px;
    color: #FFF;
    float: left;
    text-align: center;

}

.propaganda {
    width: 100%;
    background-color: #ffffff;
    line-height: 60px;
    font-size: 14px;
    color: #030303;
    float: left;
    text-align: center;

}
